body {
    font: 10pt sans-serif;
}

.container {
    width: 100%;
    max-width: 960px;
    padding: 32px;
    display: table;
    margin: 0 auto;
}

nav {
    border: 1px solid currentColor;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}